@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color:white;
    background:#f0932b;
    padding:4px 10px;
    border-radius: 5px;
}

h4{
    font-weight:bold;
    margin-top: 10px;
}

p{
    text-align: justify;
}